<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Customer Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Gestion des clients</h1>
    <hr>
    <h2>L'ajout d'un nouvel client</h2>

    <form action="#" th:action="@{/saveClientFS}" th:object="${ClientN}" method="POST">

        <input type="text" th:field="*{ice}" placeholder="ice" class="form-control mb-4 col-4">

        <input type="text" th:field="*{nom_prenom}" placeholder="Nom et Prénom" class="form-control mb-4 col-4">

        <input type="text" th:field="*{cin}" placeholder="cin" class="form-control mb-4 col-4">

        <input type="text" th:field="*{adresse}" placeholder="Adresse" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Ajouter le client</button>
    </form>

    <hr>

    <a th:href = "@{/gererClient}">Retour à la liste des clients</a>
</div>
</body>
</html>